<launch>
  <include file="$(find jackal_description)/launch/description.launch" />

  <!-- 目标检测与定位 -->
  <!-- <include file="$(find detection)/launch/detect.launch" /> -->

  <!-- Gmapping 建图 -->
  <!-- <include file="$(find mapping)/launch/gmapping.launch" /> -->

  <!-- AMCL 定位 -->
  <include file="$(find mapping)/launch/amcl.launch" />
</launch>